<div class="modal fade" id="updateTyreModal" tabindex="-1" role="dialog" aria-labelledby="updateTyreModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTyreModal">Update Tyre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetForm('ut_')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="../scripts/updateTyre.php" enctype="multipart/form-data" method="post" name="updateTyreForm" id="updateTyreForm">
                    <div class="alert alert-danger fade show d-none" id="ut_alert_error" role="alert">
                        <span id="ut_errorMsg">...</span>
                    </div>
                    <input type="hidden" class="d-none" name="ut_id" id="ut_id">
                    <div class="form-group col-md-12">
                        <label for="ut_name">Name</label>
                        <input type="text" class="form-control" name="ut_name" id="ut_name">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_width">Tyre Width</label>
                        <select class="form-control" name="ut_width" id="ut_width">
                        @for (int i = 115; i <= 355; i += 10)
                        {
                            <option value="@i">@i</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_ratio">Tyre Ratio</label>
                        <select class="form-control" name="ut_ratio" id="ut_ratio">
                        @for (int i = 13; i <= 19; i++)
                        {
                            <option value="@i">@i</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_diameter">Tyre Diameter</label>
                        <select class="form-control" name="ut_diameter" id="ut_diameter">
                        @for (int i = 25; i <= 75; i += 5)
                        {
                            <option value="@i">@i</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_vehicle_type">Tyre Vehicle Type</label>
                        <select class="form-control" name="ut_vehicle_type" id="ut_vehicle_type">
                            <option value="Car">Car</option>
                            <option value="SUV">SUV</option>
                            <option value="Van / Light Truck">Van / Light Truck</option>
                            <option value="Truck / Bus">Truck / Bus</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_price">Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">R</span>
                            </div>
                            <input type="text" class="form-control" name="ut_price" id="ut_price" aria-label="Amount">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_available">Available</label>
                        <select class="form-control" name="ut_available" id="ut_available">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_brand">Brand</label>
                        <select class="form-control" name="ut_brand" id="ut_brand">
                            <option value="BFGoodrich">BFGoodrich</option>
                            <option value="Continental">Continental</option>
                            <option value="Goodyear">Goodyear</option>
                            <option value="Hankook">Hankook</option>
                            <option value="Michelin">Michelin</option>
                            <option value="Pirelli">Pirelli</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ut_image">Change Image</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ut_image" name="ut_image" aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label" for="ut_image" id="upload-file-info">Choose file</label>
                            </div>
                        </div>
                    </div>
                            
                    <div class="text-center">
                        <button class="btn btn-dark w-50" type="submit" onclick="return tyreValidation('ut_')">Update Tyre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>