@model CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center p-5">
    <h1 class="seelanstyres-color">Your Shopping Cart</h1>
</div>
<div class="container">
    <table class="table table-bordered table-responsive-md w-100">
        <caption hidden>Cart Items</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Cost</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.CartItems!)
        {
            <tr>
                <td>@item.TyreName</td>
                <td>@($"{item.TyrePrice:R0.00}")</td>
                <td>@item.Quantity</td>
                <td>@($"{item.TotalItemPrice:R0.00}")</td>
                <td class="text-center">
                    <form method="post" asp-controller="Shopping" asp-action="RemoveTyreFromCart" asp-route-tyreId="@item.TyreId">
                        <button class="btn btn-sm btn-danger w-75"><span class="fas fa-trash-alt"></span></button>
                    </form>
                </td>
            </tr>
        }
        @if (Model.CartItems.Count() is not 0)
        {
            <tr>
                <td class="text-end" colspan=3>Total</td>
                <td>@($"{Model.TotalPrice:R0.00}")</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
    @if (!User.Identity!.IsAuthenticated)
    {
        <div class="alert alert-danger text-center" role="alert">
            <p>You need to have an account to buy tyres</p>
            <p>Sign up or login to complete your purchase
            and add one address to your account</p>
        </div>
    }
    else if (Model.NumberOfAddresses is 0)
    {
        <div class="alert alert-danger text-center" role="alert">
            <p>Please add an address to your account</p>
        </div>
    }
    else if (Model.CartItems.Count() is not 0)
    {
        <div class="col-md-12 text-center mt-5">
            <form method="post" asp-controller="Shopping" asp-action="Checkout">
                <button class="btn btn-success text-center">Checkout</button>
            </form>
            <div class="alert alert-info text-center mt-5">
                <p>
                    Your receipt will be sent to you 
                    via email upon a successful payment
                </p>
            </div>
        </div>
    }
</div>